.line-card {
   background-color: var(--bg-elements);
   list-style-type: none;
   width: 100%;
   color: white;
   padding: 10px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-radius: 20px;
}

.line-card span {
   display: flex;
   align-items: center;
   justify-content: start;
}

.bar-container {
   position: relative;
   height: 6px;
   background-color: #030616;
   border-radius: 6px;
   margin: 0 1rem;
   overflow: hidden;
}

.bar {
   position: absolute;
   height: 100%;
   background: #3b82f6;
   border-radius: 6px;
}
